html {
  font-family: "Noto Sans", sans-serif;

}

nav ul li a {
  color: #b64c6e;
  text-decoration: none;
}

li {
  list-style-type: none;
  display: inline-block;
}

.btn {
  text-decoration: none;
  color: #b64c6e;
}

.btn-ghost {
  background-color: transparent;
  border-width: 2px;
  border-color: #d89fb0;
}

nav ul li a:hover {
  color: #860927;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

@media only screen and (min-width: 25em) {

  header {
    text-align: center;
  }

}
