html {
  font-family: "Noto Sans", sans-serif;

}

nav ul li a {
  color: #b64c6e;
  text-decoration: none;
}

nav ul li a:hover {
  color: #860927;
}

li {
  display: inline-block;
  border-bottom: solid 2px #d89fb0;
}

hr {
  border-color: #e2e2e2;
}

.btn {
  text-decoration: none;
  color: #b64c6e;
}

.btn-ghost {
  background-color: transparent;
  border-width: 2px;
  border-color: #d89fb0;
  color: #b64c6e;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

footer {
  color: #e2e2e2;
}

@media only screen and (min-width: 60em) {

  .btn-ghost {
  }

}
