html {
  font-family: "Noto Sans", sans-serif;

}

nav ul li a {
  color: #b64c6e;
  text-decoration: none;
}

nav ul li a:hover {
  color: #860927;
}

li {
  display: inline-block;
  border-bottom: solid 2px #d89fb0;
}

hr {
  border-color: #e2e2e2;
}

.btn {
  text-decoration: none;
  color: #b64c6e;
  display: inline-block;
  border-radius: 4px;
  border-width: 2px;
}

.btn-ghost {
  background-color: #fff;
  border-color: #d89fb0;
  color: #b64c6e;
}

.btn-ghost:hover {
  background-color: #d89fb0;
  border-color: #860927;
  color: #860927;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

footer {
  color: #e2e2e2;
}

@media only screen and (min-width: 60em) {

  .header-right {
    text-align: right;
  }

  .header-left {
    text-align: left;
    margin: 0;
    padding-bottom: .5rem;
  }

  .nav-list {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

}
